.container-home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.container-img{
  padding: 10px;
  text-align: center;
  background-color: #ccc;
}

.container-img h2{
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.input-peliculas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: red;
}
form{
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  width: 50%;
  font-size: 20px;
}

.wrapper-img{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  gap: 20px;
  margin: 50px;
}

.item-container{
  width: 300px;
  background-color: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  position: relative;
}



.item-titulo{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  color: #FFF;
}

.item-titulo h3{
  font-size: 16px;
  color: #FFF;
}

.item-titulo p{
  border-radius: 50%;
  border: 1px solid #FFF;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
}

.item-titulo p:hover{
  background-color: firebrick;
}


.item-container img{
  width: 100%;
}

.item-img{
  align-items: center;
  display: flex;
  justify-content: center;
}

.item-img img{
  width: 100%;
}

i{
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  color: black;
  transition: color 0.5s;
}
.item_overview{
  width: 100%;
  margin: 0 auto;
  color: black;
  padding: 16px;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.item_overview p{
  letter-spacing: 2px;
}

.item-container:hover .item_overview{
  transform: translateY(0%);
}


.in-rate{
  color:goldenrod;
}

.in-hover{
  color: firebrick;
}