.header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-transform: uppercase;
  height: 80px;
}
.header a{
  text-decoration: none;
  color: white;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo h2:hover{
  color: firebrick;
}

.nav{
  display: flex;
  justify-content: center;
  padding-right: 50px;

}

.nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
}

.nav li{
  color: white;
  font-size: 18px;
}

.nav li:hover{
  color: firebrick;
}